<!DOCTYPE html>
<html>
<!-- api key aqicn.org = 7fc8bbce26b91a5d2746cf445ae2920ee3ed568b  -->

<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/semantic/semantic.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
  <script src="/semantic/semantic.js"></script>
  <script src="justgage-1.2.2/justgage.js"></script>
  <script src="justgage-1.2.2/raphael-2.1.4.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>
  <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
    integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
    crossorigin=""></script>
  <link rel='stylesheet' href='\stylesheets\leaflet_numberd_markers.css' />
  <script src="\javascripts\leaflet_numberd_markers.js"></script>
  <script src="\javascripts\leaflet-bing-layer.js"></script>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>


</head>
<style>
  #mapid {
    height: 600px;
  }
</style>



<body style="background-color:#F3F4F5;">
  <div class="ui segment" style="">

    <div class="ui stackable doubling column grid segment">
      <div class="column">

        <div id="mapid">
          <!-- map here -->
        </div>

      </div>

    </div>
    <div class="ui stackable doubling two column grid segment">
      <div class="four wide column item">
        <div class="ui stackable two column grid">
          <div class="column" style="overflow-x:auto;">
            <div class="ui header" id="place"> </div>
            <label>Alias : </label>
            <p id="alias"> </p>
            <label>Location : </label>
            <p id="latlon"> </p>
          </div>
          <div class="column" id="aqi_panel">
            <center>Air Quality Index (US AQI)
              <p style="font-size: 100px;font-weight: bold;text-align: center; margin: 0px" id="pm2_5_label">0</p>
              <label id="scale">Good</label></center>
          </div>
        </div>

      </div>
      <div class="twelve wide column item" >
        <div class="ui stackable doubling seven column grid" >
          <div class="column">
            <div style="padding: 0px" id="pm1"></div>
          </div>
          <div class="column">
            <div style="padding: 0px" id="pm2_5"></div>
          </div>
          <div class="column">
            <div style="padding: 0px" id="pm10"></div>
          </div>
          <div class="column">
            <div style="padding: 0px" id="smoke"></div>
          </div>
          <div class="column">
            <div style="padding: 0px" id="gas"></div>
          </div>
          <div class="column">
            <div style="padding: 0px" id="Humidity"></div>
          </div>
          <div class="column">
            <div style="padding: 0px" id="Temperature"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
<script>
  var gas, smoke, pm1, pm2_5, pm10, humidity,temperature;
  var dataObj = {};
  var dataArray = [];
  var device_selector = "soar";
  var marker = null;
  var markerGroup = [];
  var particle_selector = "pm2_5";
  var deviceIcon = new L.divIcon({
    html: "<img src='images/icons8-marker-24.png'>",
    iconSize: [10, 10],
    iconAnchor: [5, 5],
    labelAnchor: [6, 0]
  });
  var infoHTML =
    '<div class="ui horizontal label" style="background-color : #a8e05f; color:#FFFFFF;">Good</div>' +
    '<div class="ui horizontal label" style="background-color : #fdd74b; color:#FFFFFF;">Moderate</div>' +
    '<div class="ui horizontal label" style="background-color : #fe9b57; color:#FFFFFF;">Unhealthy for sensitive groups</div>' +
    '<div class="ui horizontal label" style="background-color : #fe6a69; color:#FFFFFF;">Unhealthy</div>' +
    '<div class="ui horizontal label" style="background-color : #a97abc; color:#FFFFFF;">Very unhealthy</div>' +
    '<div class="ui horizontal label" style="background-color : #a87383; color:#FFFFFF;">Hazardous</div>'
  var particleMenuHTML = '<div class="ui form segment">' +
    '<div class="inline fields" style="margin:0px">' +
    '<label for="fruit">Select particle:</label>' +
    '<div class="field">' +
    '<input type="radio" name="particleRadio" tabindex="0" class="ui radio checkbox" data-particle="pm1">' +
    '<label>PM1</label>' +
    '</div>' +
    '<div class="field">' +
    '<input type="radio" name="particleRadio" checked="" tabindex="1" class="ui radio checkbox" data-particle="pm2_5">' +
    '<label>PM2.5</label>' +
    '</div>' +
    '<div class="field">' +
    '<input type="radio" name="particleRadio" tabindex="2" class="ui radio checkbox" data-particle="pm10">' +
    '<label>PM10</label>' +
    '</div>' +
    '<div class="field">' +
    '<input type="radio" name="particleRadio" tabindex="3" class="ui radio checkbox" data-particle="smoke">' +
    '<label>SMOKE</label>' +
    '</div>' +
    '<div class="field">' +
    '<input type="radio" name="particleRadio" tabindex="4" class="ui radio checkbox" data-particle="gas">' +
    '<label>GAS</label>' +
    '</div>' +
    '</div>'
  var objCustomSectors = {
    percents: true,
    ranges: [
      { color: "#a8e05f", hi: 10, lo: 0 },
      { color: "#fdd74b", hi: 20, lo: 11 },
      { color: "#fe9b57", hi: 30, lo: 21 },
      { color: "#fe6a69", hi: 40, lo: 31 },
      { color: "#a97abc", hi: 60, lo: 41 },
      { color: "#a87383", hi: 100, lo: 61 },
    ]
  }
  window.onload = function () {
    gas = new JustGage({
      id: "gas",
      value: 0,
      min: 0,
      max: 1024,
      title: "GAS",
      label: "analog number",
      gaugeWidthScale: 0.6,
      // levelColorsGradient: false,
      customSectors: objCustomSectors,
      levelColors: ['#a8e05f', '#fdd74b', '#fe9b57', '#fe6a69', '#a97abc', '#a87383']
    })
    smoke = new JustGage({
      id: "smoke",
      value: 0,
      min: 0,
      max: 1024,
      title: "SMOKE",
      label: "analog number",
      gaugeWidthScale: 0.6,
      levelColors: ['#a8e05f', '#fdd74b', '#fe9b57', '#fe6a69', '#a97abc', '#a87383']
    })
    pm1 = new JustGage({
      id: "pm1",
      value: 0,
      min: 0,
      max: 500,
      title: "PM1",
      label: "µg/m3",
      gaugeWidthScale: 0.6,
      levelColors: ['#a8e05f', '#fdd74b', '#fe9b57', '#fe6a69', '#a97abc', '#a87383']
    })
    pm2_5 = new JustGage({
      id: "pm2_5",
      value: 0,
      min: 0,
      max: 500,
      title: "PM2.5",
      label: "µg/m3",
      gaugeWidthScale: 0.6,
      customSectors: objCustomSectors,
      levelColors: ['#a8e05f', '#fdd74b', '#fe9b57', '#fe6a69', '#a97abc', '#a87383']
    })
    pm10 = new JustGage({
      id: "pm10",
      value: 0,
      min: 0,
      max: 500,
      title: "PM10",
      label: "µg/m3",
      gaugeWidthScale: 0.6,
      levelColors: ['#a8e05f', '#fdd74b', '#fe9b57', '#fe6a69', '#a97abc', '#a87383']
    })
    humidity = new JustGage({
      id: "Humidity",
      value: 0,
      min: 20,
      max: 90,
      title: "Humidity",
      label: "percent",
      gaugeWidthScale: 0.6,
      levelColors: [  '#fdd74b', '#a8e05f']
    })
    temperature = new JustGage({
      id: "Temperature",
      value: 0,
      min: 0,
      max: 100,
      title: "Temperature",
      label: "°C",
      gaugeWidthScale: 0.6
    })
    setInterval(function () {

      axios.get('/data/waqi')
        .then(function (response) {
          dataArray = response.data
          leafletRemoveMarkerGroup()
          for (i in response.data) {
            if (response.data[i].alias == device_selector) {
              gas.refresh(response.data[i].gas)
              smoke.refresh(response.data[i].smoke)
              pm1.refresh(response.data[i].pm1)
              pm2_5.refresh(response.data[i].pm2_5)
              pm10.refresh(response.data[i].pm10)
              humidity.refresh(response.data[i].humidity)
              temperature.refresh(response.data[i].temperature)
              pm10.refresh(response.data[i].pm10)
              set_api_panel(response.data[i].pm2_5_aqi)
              $('#latlon').text(response.data[i].latlon)
              $('#place').text(response.data[i].place)
              $('#alias').text(response.data[i].alias)
            }
            if (response.data[i][particle_selector] == 0) {
              continue
            }
            leafletAddMarker(i, response.data[i].latlon, get_particle(response.data[i]), response.data[i].alias)
          }

        })

    }, 1000)
  }
  var mymap = L.map('mapid').setView([13.102115, 100.927842], 5);
  mymap.options.maxZoom = 18;
  var optionMaps = {
    bingMapsKey: "AuhiCJHlGzhg93IqUH_oCpl_-ZUrIE6SPftlyGYUvr9Amx5nzA-WqGcPquyFZl4L"
  }
  L.tileLayer('https://api.mapbox.com/styles/v1/smartcj/cjuwgnw171vci1flg6o0ibjhe/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1Ijoic21hcnRjaiIsImEiOiJjanJqMDZ3NXMwN2w2NDNwZG5xYW0xZG5rIn0.3QRI00DpbBEzcmDcczh1yA').addTo(mymap)
  var info = L.control();
  var particleControl = L.control();
  particleControl.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'particleControl'); // create a div with a class "info"
    this.update();
    return this._div;
  };
  particleControl.update = function (props) {
    this._div.innerHTML = particleMenuHTML;
  };
  particleControl.setPosition('topright')
  particleControl.addTo(mymap)

  info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
    this.update();
    return this._div;
  };
  info.update = function (props) {
    this._div.innerHTML = infoHTML;
  };
  info.setPosition('bottomright')
  info.addTo(mymap);
  $('.ui.radio.checkbox').on('click', function () {
    particle_selector = $(this).attr('data-particle')
    on_select_particle_group()
  })
  set_api_panel = (aqi) => {
    if (aqi < 51) {
      $('#pm2_5_label').text(aqi)
      $('#aqi_panel').attr('style', 'background : #a8e05f')
      $('#scale').text("Good")
    }
    else if (aqi < 101) {
      $('#pm2_5_label').text(aqi)
      $('#aqi_panel').attr('style', 'background : #fdd74b')
      $('#scale').text("Moderate")
    }
    else if (aqi < 151) {
      $('#pm2_5_label').text(aqi)
      $('#aqi_panel').attr('style', 'background : #fe9b57')
      $('#scale').text("Unhealthy for Sensitive Groups")
    }
    else if (aqi < 201) {
      $('#pm2_5_label').text(aqi)
      $('#aqi_panel').attr('style', 'background : #fe6a69')
      $('#scale').text("Unhealthy")
    }
    else if (aqi < 301) {
      $('#pm2_5_label').text(aqi)
      $('#aqi_panel').attr('style', 'background : #a97abc')
      $('#scale').text("Very Unhealthy")
    }
    else {
      $('#pm2_5_label').text(aqi)
      $('#aqi_panel').attr('style', 'background : #a87383')
      $('#scale').text("Hazardous")
    }
  }
  get_particle = (particle_data) => {
    switch (particle_selector) {
      case "pm1":
        return particle_data.pm1
        break;
      case "pm2_5":
        return particle_data.pm2_5_aqi
        break;
      case "pm10":
        return particle_data.pm10
        break;
      case "smoke":
        return particle_data.smoke
        break;
      case "gas":
        return particle_data.gas
        break;
      default:
        break;
    }
  }
  on_select_particle_group = () => {
    leafletRemoveMarkerGroup()
    for (i in dataArray) {
      if (dataArray[i][particle_selector] == 0) {
        continue
      }
      leafletAddMarker(i, dataArray[i].latlon, get_particle(dataArray[i]), dataArray[i].alias)
    }
  }
  leafletRemoveMarkerGroup = () => {
    for (x in markerGroup) {
      mymap.removeLayer(markerGroup[x])
    }
  }
  leafletRemoveLayer = () => {
    if (marker != null) {
      mymap.removeLayer(marker)
    }
  }
  leafletSetIcon = (percent) => {
    if (percent <= 10) {
      return "images/icons8-marker-40-16.png"
    }
    else if (percent <= 20) {
      return "images/icons8-marker-40-32.png"
    }
    else if (percent <= 30) {
      return "images/icons8-marker-40-48.png"
    }
    else if (percent <= 40) {
      return "images/icons8-marker-40-64.png"
    }
    else if (percent <= 60) {
      return "images/icons8-marker-40-80.png"
    }
    else {
      return "images/icons8-marker-40-96.png"
    }
  }
  leafletAddMarker = (i, latlon, value, alias) => {
    var numberIcon = new L.NumberedDivIcon({ number: value })
    var percent = 0;
    if (particle_selector == "pm1" || particle_selector == "pm2_5" || particle_selector == "pm10") {
      percent = value / 500 * 100
    } else {
      percent = value / 1024 * 100
    }
    numberIcon.options.__proto__.iconUrl = leafletSetIcon(percent)
    markerGroup[i] = L.marker(latlon, {
      icon: numberIcon,
      alias: alias
    }).addTo(mymap).on('click', function (e) {
      device_selector = e.target.options['alias'];
    });
  }
</script>

</html>