.leaflet-div-icon {
	background: transparent;
	border: none;
}

.leaflet-marker-icon .number{
	position: relative;
	top: -37px;
	left: 7px;
	font-size: 12px;
	font-weight: bold;
	width: 25px;
	text-align: center;
	color: rgb(255, 255, 255);
}